<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
</head>
  <body>  
    <div class= "discount_type">
      <caption><b id="dis_title">Discounts</b></caption>
      <h3 id="dsp">Get COUPON for Accommodations, Have FUN with MORE Friends!</h3>
      <ul id="dis_sel">
        <li id="ac">
          <caption>
            <div class="a_t">
              <p id="ac_title">Accommodations</p>
              <p class="show_sign" onclick= "ac_list_display()">◂</p>
            </div>
          </caption>
            <div class="ac_sel">
              <ul>
                <li>
                  <div id="hc">
                    <p>Hotel California</p>
                    <img src="./image/hotel1.jpg">
                    <p id="dc">40% OFF</p>
                    <button id="gcp">Get Coupon Now!</button>
                  </div>
                </li>
                <li>
                  <div id="hc">
                    <p>Hotel of anyNAME</p>
                    <img src="./image/hotel2.jpg">
                    <p id="dc">35% OFF</p>
                    <button id="gcp">Get Coupon Now!</button>
                  </div>
                </li>
              </ul>
            </div>
        </li>
        <li id="tk">
          <caption>
            <div class="t_t">
              <p id="tk_title">Tickets</p>
              <p class="show_sign" onclick="tk_list_display()">◂</p>
            </div>
          </caption>
          <div class="tk_sel">
            <ul>
              <li>
                <div id="hc">
                    <p>Amuseeeeement Park</p>
                    <img src="./image/amp.jpg">
                    <button id="gcp">Group up for cheaper tickets!</button>
                 </div>
              </li>
              <li>
                <div id="hc">
                    <p>Oceanic Era</p>
                    <img src="./image/ocp.jpg">
                    <button id="gcp">Group up for cheaper tickets!</button>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li id="fd">
          <caption>
            <div class="f_t">
              <p id="fd_title">Cusines</p>
              <p class="show_sign" onclick="fd_list_display()">◂</p>
            </div>
          </caption>
          <div class="fd_sel">
            <ul>
              <li>
                <div id="hc">
                    <p>Must EAT me</p>
                    <img src="./image/cus1.jpg">
                    <button id="gcp">Group up for lower price and more food!</button>
                </div>
              </li>
              <li>
                <div id="hc">
                    <p>The BEST here</p>
                    <img src="./image/cus2.jpg">
                    <button id="gcp">Group up for lower price and more food!</button>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </body>
  <script src="main.js"></script>
</html>