html {
  height: 100%;
}
* {
    box-sizing: border-box;
    
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Adamina','Georgia','Times New Roman','Times';
    font-size: 16px;
    justify-content: center;
    text-align: center;
}

ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#ac, #tk, #fd {
  margin: 2px;
}

.discount_type {
  background-color: #bce2f5;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding:3rem;
}

 li {
   list-style-type: none;
 }

#dis_title {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 15px;
}


.a_t, .t_t, .f_t {
  display: inline-flex;
  font-size: 20px;
  background-color: #c2f2c7;
  border-radius: 5px;
}

.a_t #ac_title {
  text-indent: 20px;
  padding-right: 50px;
}
.a_t #show_sign {
  padding-right: 10px;
}

.t_t #tk_title {
  text-indent: 20px;
  padding-right: 141px;
}
.t_t #show_sign {
  padding-right: 10px;
}

.f_t #fd_title {
  padding-right: 130px;
  text-indent: 20px;
}
.f_t #show_sign {
  padding-right: 10px;
}

.ac_sel, .tk_sel, .fd_sel {
  display: none;
}

.ac_sel li {
  text-indent: 5px;
  color:cornsilk;
  background-color: rgb(29, 109, 85);
  margin: 5px;
  padding-top: 5px;
  border-radius: 3px;
}

.tk_sel li {
  text-indent: 5px;
  color:cornsilk;
  background-color: rgb(29, 109, 85);
  margin: 5px;
  padding-top: 5px;
  border-radius: 3px;
}

.fd_sel li {
  text-indent: 5px;
  color:cornsilk;
  background-color: rgb(29, 109, 85);
  margin: 5px;
  padding-top: 5px;
  border-radius: 3px;
}

.show_sign {
  transition: 0.2s;
}
.show_sign:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.3);
}


img {
  padding-left: 10px;
  max-width: 250px;
  height: auto;
}

#dc, #gcp {
  display: inline-block;
}

#dc {
  margin-left: 10px;
  color: red;
  font-size: medium;
  background-color: #fff;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

#gcp {
    margin-left: 10px;
    margin-bottom: 10px;
    color: darkblue;
    font-size: medium;
    background-color: #bce2f5;
    
    padding:0.5rem 1rem 0.5rem;
}
#gcp:hover {
    color: #fffb00;
    border-color: #fffb00;
    cursor: pointer;
    font-weight: 800;
 }
#dsp {
    font-size: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0.8rem;
}

#hc {
  justify-content: center;
  display: block;
}