* {
    box-sizing: border-box;
    font-family: 'Adamina','Georgia','Times New Roman','Times';
}
form {
    width: 80%;
    margin: 0 auto 2rem;
}

h2 {
    padding: 20px;
    border: 2px solid #90ccfa;
    border-radius: 15px;
    box-shadow: 0px 5px 22px #d9eefd;
}

input {
    border: 0;
}

.btn {
    border-radius: 10px;
    cursor: pointer;
    background: #90ccfa;
    box-shadow: 0px 5px 5px #d9eefd;
}

.btn:active
{
    background-color: #00fbff;
    transform: translateY(4px);
}

}
.warn {
    color: red;
    font-size: 0.3px;
    display: none;
}
