

body {
  background: rgb(154, 159, 163);
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  justify-content: center;
  text-align: center;
}

ul {
  display: table;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

#ac, #tk, #fd {
  margin: 30px;
}

.discount_type {
  min-width: 90%;
  height: auto;
  display: grid;
  flex-direction: column;
}

 li {
   list-style-type: none;
 }

#dis_title {
  font-size: 85px;
  margin-top: 20px;
  margin-left: 15px;
  text-shadow: 0 0 3px 3px;
}

#dsp{
  width: 500px;
  border-top: 3px solid black;
}

.a_t, .t_t, .f_t{
  display: flex;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  color: red;
  background-color: white;
  box-shadow: black 0px 5px 5px;
  overflow: hidden ;
  transition: 0.5s;
}

.a_t:hover, .t_t:hover, .f_t:hover{
  transform: scale(1.15);
  color: white;
  background-color: red;
}

p{
  text-indent: 40px;
  padding: 0 20px 20px 0;
}

img{
  height: 100%;
  max-width: 250px;
  box-shadow: black 0 0 10px;
}
