{% include 'navigation.html' %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename = 'discount_select/discount_select.css')}}">
  </head>
  <body>
    <form action="{{url_for('room_list')}}" method="post">
    <div class= "discount_type">
      <caption><b id="dis_title">Discounts</b></caption>
      <hr id="dsp">
      <ul id="dis_sel">
        <li id="ac">
          <caption>
            <div class="a_t">
              <div id="img_ac">
                <img src="{{url_for('static', filename = 'discount_select/image/Accommodations.jpg')}}">
              </div>
              <p id="ac_title">Accommodations</p>
            </div>
          </caption>

        </li>
        <li id="tk">
          <caption>
            <div class="t_t">
              <div id="img_tk">
                <img src="{{url_for('static', filename = 'discount_select/image/Tickets.jpg')}}">
              </div>
              <p id="tk_title">Tickets</p>
              <!-- <p class="show_sign" onclick="tk_list_display()">◂</p> -->
            </div>
          </caption>
       
        </li>
        <li id="fd">
          <caption>
            <div class="f_t">
              <div id="img_fd">
                <img src="{{url_for('static', filename = 'discount_select/image/Cuisines.jpg')}}">
              </div>
              <p id="fd_title">Cuisines</p>
              <!--<p class="show_sign" onclick="fd_list_display()">◂</p> -->
            </div>
          </caption>
          
        </li>
      </ul>
    </div>
  </form>
  </body>
  <script src="{{url_for('static', filename = 'discount_select/discount_select.js')}}"></script>
</html>
