<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{url_for('static',filename='navigation/navigation.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename = 'discount_select/discount_select.css')}}">
    <title>discount_select</title>
  </head>
  <body>
    <div class="topnav">
      <a href="{{url_for('discount_select')}}" class="active">Welcome</a>
      <!-- Navigation links (hidden by default) -->
      <div id="myLinks">
          <a href="{{url_for('room_record')}}">Room joined</a>
          <a href="{{url_for('discount_select')}}">Discount</a>
          <a href="#profile">My Profile</a>
          <a href="{{url_for('login_out')}}">Log in / log out</a>
      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
      </a>
    </div>
    <form action="{{url_for('room_list')}}" method="post">
      <b id="dis_title">Discounts</b>
      <ul>
        <li>
          <button id="ac" type="submit" name = "type" value="Accommodations">
            <div class="inner_t">
              <div><img src="{{url_for('static', filename = 'discount_select/image/hotel.jpg')}}"></div>
              <p>Accommodations</p>
            </div>
          </button>
        </li>
        <li>
          <button id="tk" type="submit" name = "type" value="Tickets">
            <div class="inner_t">
              <div><img src="{{url_for('static', filename = 'discount_select/image/Tickets.jpg')}}"></div>
              <p>Tickets</p>
            </div>
          </button>
        </li>
        <li>
          <button id="fd"  type="submit" name = "type" value="Cuisines" >
            <div class="inner_t">
              <div><img src="{{url_for('static', filename = 'discount_select/image/Cuisines.jpg')}}"></div>
              <p>Cusines</p>
            </div>
          </button>
        </li>
      </ul>
    </form>
  </body>
  <script src="{{url_for('static',filename='navigation/navigation.js')}}"></script>
  <script src="{{url_for('static', filename = 'discount_select/discount_select.js')}}"></script>
</html>
    
 
 
