<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{url_for('static',filename='navigation/navigation.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>navigation bar</title>
</head>
<body>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <!-- Top Navigation Menu -->
    <div class="topnav">
        <a href="{{url_for('discount_select')}}" class="active">Welcome</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href="{{url_for('room_record')}}">Room joined</a>
            <a href="{{url_for('discount_select')}}">Discount</a>
            <a href="#profile">My Profile</a>
            <a href="{{url_for('login_out')}}">Log in / log out</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <script src="{{url_for('static',filename='navigation/navigation.js')}}"></script>
</body>
</html>
