<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="{{url_for('static',filename='navigation/navigation.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roomList</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'room_list/room_list.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="topnav">
        <a href="{{url_for('discount_select')}}" class="active">Welcome</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href="{{url_for('room_record')}}">Room joined</a>
            <a href="{{url_for('discount_select')}}">Discount</a>
            <a href="#profile">My Profile</a>
            <a href="{{url_for('login_out')}}">Log in / log out</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <form action="{{url_for('room_list')}}" method="post" id="CreateEvent">
    <div class="grid-container" id="container">
        {% for item in data %}
        <div class="grid-item">
            {% if distype == "Accommodations" %}
            <img src= "{{url_for('static', filename = 'room_list/image/Accommodations.jpg')}}">
            {% elif distype == "Tickets" %}
            <img src = "{{url_for('static', filename = 'room_list/image/Tickets.jpg')}}">
            {% else %}
            <img src = "{{url_for('static', filename = 'room_list/image/Cuisines.jpg')}}">
            {% endif %}
            <div class="card-text">
                <div class="bg">&nbsp</div>
                <div class="event">{{item.event}}</div>
            </div>
            <button class="join" type="submit" name="join" value={{item.id}}> JOIN</button>
            <div class="info1">
                <div class="stat">
                    <div class="type">Date</div>
                    <div class="date value">{{item.date}}&nbsp</div>
                </div>
                <div class="stat">
                    <div class="type">Time</div>
                    <div class="time value">{{item.time}}&nbsp</div>
                </div>
                <div class="stat">
                    <div class="type">Location</div>
                    <div class="location value">{{item.location}}</div>
                </div>
            </div>
            <div class="info2">
                <div class="stat">
                    <div class="type">People</div>
                    <div class="ppl value">{{item.pplnow}}/{{item.pplneed}}(now/need)&nbsp</div>
                </div>
                <div class="stat">
                    <div class="type">Host</div>
                    <div class="hostname value">{{item.hostname}}&nbsp</div>
                </div>
                <div class="stat">
                    <div class="type">Rate</div>
                    <div class="hostrate place">{{item.hostrate}} star</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </form>
    <a href="{{url_for('create_room')}}" class="float">
        <i class="fa fa-plus my-float"></i>
    </a>    

</div>
    <script src="{{url_for('static',filename='navigation/navigation.js')}}"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
